@font-face {
  font-family: oswald;
  src: url("../public/Oswald/Oswald-VariableFont_wght.ttf");
}

body{
  /* background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%); */
  background-image: url("https://media.giphy.com/media/1yld7nW3oQ2IyRubUm/giphy.gif");
  background-size: cover;
  height: 100vh;
  background-position: center;
    margin-bottom: 160px;
    font-family: 'oswald', Arial, Helvetica, sans-serif;
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;
}

.card-pokemon{
  display: flex;
  flex-direction: column;
  border: 0.1em solid rgba(255,255,255, .01);
  margin: 15px 0px 30px;
  padding: 20px 40px;
  border-radius: 10px;
  height: 450px;
  backdrop-filter: blur(50px);
  background-color:rgba(255,255,255, .01);
}

.pokemon{
  width: 170px;
}

.text-pokemon{
  text-align: left;
  font-size: 17px;
}

.text-pokemon ul{
  padding-left: 20px;
  line-height: 40%;
}

.title{
  font-size: 40px;
  text-transform: capitalize;
}

.pokemon-title{
  padding: 5px;
  font-size: 60px;
  font-weight: 800;
}

.button-random{
  background-color: rgba(255,255,255, .01);
  backdrop-filter: blur(50px);
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 800;
  color: white;
  border-radius: 10px;
}

.button-random:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid rgba(255,255,255, .01);
}


.box{
  display: flex;
  flex-direction: row;
}