@font-face {
  font-family: oswald;
  src: url("../public/Oswald/Oswald-VariableFont_wght.ttf");
}

body{
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    margin-bottom: 300px;
    font-family: 'oswald', Arial, Helvetica, sans-serif;
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;
}

.card-pokemon{
  display: flex;
  flex-direction: column;
  border: 0.1em solid white;
  margin: 15px 0px 30px;
  padding: 20px 40px;
  border-radius: 10px;
}

.pokemon{
  width: 170px;
}

.text-pokemon{
  text-align: left;
  font-size: 17px;
}

.text-pokemon ul{
  padding-left: 20px;
  line-height: 40%;
}

.title{
  font-size: 40px;
  text-transform: capitalize;
}

.pokemon-title{
  padding: 5px;
  font-size: 60px;
  font-weight: 800;
}

.button-random{
  background-color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 800;
  color: white;
  border-radius: 10px;
}

.button-random:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}


.box{
  display: flex;
  flex-direction: row;
}