body{
  background-color: rgb(26, 32, 44);
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;
}

.card-pokemon{
  border: 0.1em solid white;
  margin: 60px 0px 30px;
  padding: 20px 40px;
  border-radius: 10px;
}

.pokemon{
  width: 280px;
}

.text-pokemon{
  text-align: left;
  font-size: 22px;
}

.text-pokemon ul{
  padding-left: 20px;
  line-height: 40%;
}

.title{
  font-size: 60px;
}

.button-random{
  background-color: #81e6d9;
  border: 1px solid rgb(26, 32, 44);
  padding: 12px 65px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 5px;
}

.button-random:hover{
  background-color: #34c4b0;
  cursor: pointer;
}
